numpy==1.19.5
opencv_python==4.5.2.52
pandas==1.2.0
python_dateutil==2.8.2
pytreebank==0.2.7
scikit_learn==1.0.2
scipy==1.6.0
transformers==4.8.2
jupyter
ipykernel
matplotlib<=3.6.3
torchmeta
torch==1.9.1
torchvision==0.10.1
torchtext==0.10.1
torchmetrics==0.5.1
torchmeta==1.8.0
tensorboard<=2.20.0
protobuf<4.0
datasets<=1.11.0
ConfigArgParse
seaborn
networkx
wordcloud